.timetable {
  display: grid;
  grid-template-areas: ". week" "time content";
  grid-template-columns: 120px;
  grid-template-rows: 50px;
  /* width: 100vw;
  height: 100vh; */
  min-height: 40vh;
  max-height: 80vh !important;
}

.timetable .accent-blue-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: #0D97B9;
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}

.timetable .accent-blue-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 188, 238, 0.3);
  transform: scale(1.05);
}

.timetable-cell {
  display: flex;
  width: 100%;
  height: 100%;
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}

.timetable-cell:hover {
  box-shadow: 0 20px 30px 0 rgba(218, 218, 218, 0.3);
  transform: scale(1.05);
}

.timetable .weekend {
  background: #fbfbfc;
  color: #87a1ad;
}

.timetable .week-names {
  grid-area: week;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 0 0;
  background: #E1E1E1;
}

.timetable .week-names>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 0 0 #eceff1;
}

.timetable .time-interval {
  grid-area: time;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  font-size: 14px;
  border-radius: 5px 0px 0 5px;
  background: #E1E1E1;
}

.timetable .time-interval>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 1px 0 0 #eceff1;
}

.timetable .content {
  grid-area: content;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid #eceff1;
  border-right: 1px solid #eceff1;
}

.timetable .content>div {
  box-shadow: inset 1px 0 0 #eceff1, inset 0 1px 0 0 #eceff1;
}

.timetable h5,
.timetable b {
  font-size: 12px;
}

.timeline-card-wrap {
  margin-bottom: 0;
}