/* .content .content-card-wrapper {
    box-shadow: none !important;
} */

.meeting-name {
    padding-left: 0px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
}




h4.separator_minute {
    font-size: 14px;
    border-bottom: 2px solid #0D97B9;
}

.section-header {
    color: #0D97B9;
}

.approval-form-row {
    margin-left: 0px;
}

.attendence-sub-header {
    font-size: 14px;
}

.delete-icon i {
    color: red;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .meeting-detail-wrap {
        flex-direction: column;
    }

    .meeting-detail-wrap .col-md-4,
    .meeting-name {
        padding: 0;
    }

    .minute-view-btn button {
        width: 100%;
        margin-top: 10px;
    }
}

.white-content .form-control[disabled] {
    background-color: #fff;
    opacity: 1;
}

@media print {
    .view-in-web {
        display: none !important;
    }

    .view-in-print {
        display: block !important;
        color: #222a42 !important;
    }

    .form-control {
        background: #fff !important;
        color: #222a42 !important;
        border: 0.2px solid rgba(29, 37, 59, 0.3);
        box-shadow: none !important;
    }
}

.latest-glow-btn {
    animation: glowPulse 1.5s infinite;
    box-shadow: 0 0 8px rgba(0, 150, 200, 0.8);
}


@keyframes glowPulse {
    0% {
        box-shadow: 0 0 6px rgba(0, 150, 200, 0.6);
    }


    50% {
        box-shadow: 0 0 18px rgba(0, 150, 200, 1);
        transform: scale(1.03);
    }


    100% {
        box-shadow: 0 0 6px rgba(0, 150, 200, 0.6);
    }
}

.btn:disabled {
    background-color: #c1c1c1;
    border-color: #b0b0b0;
}