#navdash {
  height: 4rem !important;
  width: calc(100vw - 240px);
  background-color: black;
  margin-left: 240px !important;
}

@media (max-width: 990px) {
  #navdash {
    height: 5.2rem !important;
    width: 100vw;
    margin-left: 0px !important;
  }
}
