#navdash {
  height: 5rem !important;
  /* width: calc(100vw - 240px); */
  /* background-color: black; */
  /* margin-left: 260px !important; */
  /* margin-top: 10px; */
  flex-shrink: 0;
  display: flex;
}

@media (max-width: 990px) {
  #navdash {
    height: 5.2rem !important;
    width: 100vw;
    margin-left: 0px !important;
  }
}