.MuiTab-textColorPrimary.Mui-selected {
    color: #0D97B9 !important;
    border-bottom-color: #0D97B9;
}

.MuiTab-root {
    text-transform: none !important;

}

.tabs-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
}