#Group_39 {
  animation: rotate 5s forwards 1.5s ease infinite alternate;
  transform-origin: center;
}
#Path_3 {
  border: 1px solid white;
  transform-box: fill-box;
  translate: 100px;
  animation: rotate1 4s linear infinite;

  transform-origin: center;
  display: block;
}
#plant_upper {
  transform-box: fill-box;
  animation: rotate2 5s forwards ease infinite alternate-reverse;
  transform-origin: bottom;
}

#bulbs {
  transform-box: fill-box;
  animation: genie_inside 3s forwards ease infinite alternate,
    rotate3 3s forwards ease infinite alternate;
  transform-origin: bottom;
}
@keyframes genie_inside {
  0% {
    opacity: 0.5;
  }

  90% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(2deg);
  }

  66% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  66% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.carousel-indicators li {
  height: 0.01em;
  width: 1.2em;
  background: rgb(160, 155, 155);
  border-radius: 100px;
}
.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.cards {
  background-color: #e0f9ff !important;
}

.btnPrimary {
  border-radius: 999em;
}
.caro {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.navbar {
  opacity: 0.9;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 4px solid #0071bf;
}

.separator::after {
  content: "";
  flex: 1;
  border-bottom: 4px solid #f5f6fa;
}
.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.logo-sidebar {
  height: 50px;
}

.dropdownarrow::after {
  color: #ffffff !important;
  background-color: blue;
}
/* Navbar 3dots */
.navbar-kebab {
  background-color: #ffffff !important;
}
/* Navbar sub topics color change*/
.subdropdowns {
  color: #ffffff !important;
}

@media (min-width: 576px) {
  .subdropdowns {
    color: #ffffff !important;
  }
}

@media (min-width: 992px) {
  .subdropdowns {
    color: #000 !important;
  }
}

.rbc-calendar {
  background-color: #e0f9ff;
  padding: 2%;
  min-height: 72vh;
  max-height: 80vh !important;
}

.fade {
  opacity: 1;
}
